* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {

    margin: 0 auto;
    max-width: 550px;
    max-height: 800px;
    border: solid 0px black;




    h3 {
        text-align: center;
        color: #b2b2b2;
        font-weight: 300;
    }

    .gridbox {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(6, 1fr 1fr);
        gap: 10px;
        margin-bottom: 30px;

    }


    .icons {

        margin-left: 130px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        max-height: 100px;
        border: solid 0px;
    }

    .icon {

        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        background-color: whitesmoke;
        border-radius: 10%;
    }

    .email {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        #input {
            border: solid 0px;
            border-radius: 7px;
            width: 400px;
            height: 50px;
            padding-left: 20px;
            font-size: 20px;
            background-color: #ebeef7;
            outline: 0;
            color: #b8bcc8;
        }
    }

    .password {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        #input {
            border: solid 0px;
            border-radius: 7px;
            width: 400px;
            height: 50px;
            padding-left: 20px;
            font-size: 20px;
            background-color: #ebeef7;
            outline: 0;
            color: #b8bcc8;
        }
    }

    .chekbox {
        margin-left: 75px;
        margin-top: 15px;
        display: flex;
        gap: 5px;

        #inputchek {
            width: 17px;
            height: 17px;
        }
    }

    .knopka {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    #button {
        width: 400px;
        height: 40px;
        outline: 0;
        background-color: #0cd091;
        border: solid 0px;
        border-radius: 7px;
        color: white;
    }

    .text {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

}
.mid{
    margin-top: 30px;
}
.container2 {
   
    margin: 0 auto;
    max-width: 650px;
    max-height: 1000px;
    border: solid 1px;
    background-color: #1e1e1e;
margin-bottom: 50px;
    p {
        margin-top: 20px;
        margin-left: 80px;
       color: #7a7a7a;
        margin-bottom: 40px;
    }

    .containermid {
      
        margin: 0 auto;
        max-width: 500px;
        max-height: 600px;
        border: solid 1px;
        border-radius: 10px;
        background-color: #262626;

        h3 {
            color: white;
            margin-top: 30px;
            padding-left: 50px;
        }

        .email {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            #emaill {
                padding-left: 20px;
                color: #646464;
                border: solid 1px;
                width: 400px;
                height: 50px;
                border-radius: 10px;
                outline: 0;
                background-color: #262626;
            }
        }

        .password {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            #password {
                padding-left: 20px;
                color: #646464;
                border: solid 1px;
                width: 400px;
                height: 50px;
                border-radius: 10px;
                outline: 0;
                background-color: #262626;
            }
        }

        .knopka2{
            margin-top: 30px;
display: flex;
justify-content: center;
align-items:center;
            #buttonn{
                width: 400px;
                height: 40px;
                outline: 0;
                background-color: #343434;
                border: solid 0px;
                border-radius: 7px;
                color: white;  
            }
        }
        #p1{
         margin-left: 140px;

        }
        .image{
            display: flex;
            justify-content: center;
        }
    }
#p2{
   margin-left: 180px;
}
a{
    text-decoration: none;
}
}